<div *ngIf="error"><p>Error: {{error}}</p></div>
<input #username placeholder="username" style="display: block;">
<input #email type="email" placeholder="someone@mail.com"style="display: block;">
<input #password type="password" placeholder="password"style="display: block;">
<button (click)="signup(username.value, email.value, password.value)"style="display: block;">Sign up</button>

<div *ngIf="toggleVerification">
  <input #verification>
  <button (click)="verify(verification.value)">Sumbit</button>
</div>
